<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <link href="preview.css" rel="stylesheet">
  <link href="../bower_components/ng-grid/ng-grid.css" rel="stylesheet">
  <style>
    .action-preview {
      position: absolute;
      top: 0;
      right: 0;
      width: 200px;
      height: 500px;
      overflow: auto;
      border: 1px solid #c4c4c4;
    }
  </style>
  <link href="../dist/component.css" rel="stylesheet">
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="../bower_components/ng-grid/build/ng-grid.js"></script>
  <script src="../dist/component.js"></script>
  <script>
    angular.module('preview', ['c<%= code %>']).directive('loadComponent', ['$rootScope', '$compile', function ($rootScope, $compile) {
      return {
        restrict: 'A',
        scope: false,

        link: function(scope, element) {
          $rootScope.action = {
            attrs: {}
          };
          element.append('<c<%= code %>></c<%= code %>>');
          $compile(element.contents())($rootScope.$new());
        }
      }
    }]);
  </script>

</head>
<body class="bootstrap" ng-app="preview" load-component>
  <div class="action-preview">
    <p ng-repeat="(key, value) in $root.action.attrs">
      <span>{{key}}: </span><span>{{value}}</span>
    </p>
  </div>
</body>
</html>
