.c<%= code %> {
  width: 800px;

  .form-horizontal .control-label{
    text-align:left;
  }

  .gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    height: 400px;
    box-sizing: content-box;
  }
}
