<div class="c<%= code %> component bootstrap" ng-controller="C<%= code %>Controller">
  <div>
    <tabset>
      <tab heading="常规">
        <div class="panel panel-default">
          <div class="panel-heading">常规属性</div>
          <div class="panel-body">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label class="col-sm-2 control-label">测试标签</label>
                <div class="col-sm-10">
                  <input ng-model="action.attrs.test" type="text" class="form-control" placeholder="测试属性">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">表单标识</label>

                <div class="col-sm-5">
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">申请表单时是否自动连续录入单</label>

                <div class="col-sm-8">
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions1" value="option1">是
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions1" value="option2">否
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-4 control-label">提交后是否提示打印</label>

                <div class="col-sm-8">
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions2" value="option1">是
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions2" value="option2">否
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-5 control-label">集团id对应的表单项目</label>

                <div class="col-sm-7">
                  <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" ng-click="showModal()">...</button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-5 control-label">业务紧急程度对应表单项目</label>
                <div class="col-sm-7">
                  <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">...</button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-5 control-label">流向部门限定的来源部门对应的表单项目</label>
                <div class="col-sm-4">
                  <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">...</button>
                    </span>
                  </div>
                </div>
                <div class="col-sm-3">
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions3" value="option1">部门ID
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions3" value="option2">部门代码
                  </label>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">常规属性</div>
          <div class="panel-body">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label class="col-sm-2 control-label">表单打开方式</label>

                <div class="col-sm-5">
                  <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>
      </tab>
      <tab heading="显示">Static content2</tab>
      <tab heading="数据">
        <div class="gridStyle" ng-grid="gridOptions"></div>
      </tab>
      <tab heading="高级">Static content4</tab>
    </tabset>
  </div>
</div>
