<div class="modal-header">
  <h3 class="modal-title">模式窗口</h3>
</div>
<div class="modal-body">
</div>
<div class="modal-footer">
  <button class="btn btn-primary">确定</button>
  <button class="btn btn-warning">取消</button>
</div>
